<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main.html</title>
</head>

<body>
    <h1>main page</h1>

    <h3>welcome, <%= id %> 번째 가입고객쓰~ !!</h3>

    <p>Liposomes, sphere-shaped vesicles consisting of one or more phospholipid bilayers, were first described in the
        mid-60s. Today, they are a very useful reproduction, reagent, and tool in various scientific disciplines,
        including mathematics and theoretical physics, biophysics, chemistry, colloid science, biochemistry, and
        biology. Since then, liposomes have made their way to the market. Among several talented new drug delivery
        systems, liposomes characterize an advanced technology to deliver active molecules to the site of action, and at
        present, several formulations are in clinical use. Research on liposome technology has progressed from
        conventional vesicles to ‘second-generation liposomes’, in which long-circulating liposomes are obtained by
        modulating the lipid composition, size, and ch</p>


    <script src="main.js"></script>
</body>

</html>